<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rootup.friendzoo.friendzoo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAm4o5xrAv1yoDHIqppmmEVwfDaXgQfRsM" />


        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.SignInProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <activity
            android:name=".activity.BeautyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.BasePlaceFilterActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <activity
            android:name=".activity.BeautyDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->


            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.BasePickDateActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.BeautyPaymentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.BeautyPaymentCompleteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".activity.BeautyDetailServiceGuideActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.BeautyDetailServiceGuideItemActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity
            android:name=".activity.DonatePostActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.DonatePaymentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.DonatePostPaymentDetailByCashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.DonatePostPaymentCompleteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">


        </activity>


        <activity
            android:name=".activity.MyPageProfileActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.UpdatePhoneNoActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.UpdateNickNameActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.UpdateSummaryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.MyPagePurchaseHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <activity
            android:name=".activity.MyPageBookHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.MyPageAdoptHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />


        <activity
            android:name=".activity.MyPageCancelHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>


        <activity
            android:name=".activity.MyPageLikeHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">


        </activity>
        <activity
            android:name=".activity.MyPagePointHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.MyPageCurrentHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.MyPageCouponHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.MyPagePostHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.MyPageOpinionHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.MyPageReviewHistoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.FAQActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />


        <activity
            android:name=".activity.MemoriesAlbumActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>


        <activity
            android:name=".activity.MemoriesAlbumDetailActivity"

            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.MemoriesAlbumProfileActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.CommunityActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.CommunityPostEditActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.CommunityPostDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.CommunityPostSearchActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.ShopActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.SignInAddInfoActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.ShopSelectCategoryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.ShopDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".activity.ShopPaymentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.BasePaymentCompleteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.BaseQuestionEditActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity
            android:name=".activity.BaseReviewEditActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.HospitalActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.HospitalDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.HospitalDetailServiceGuideActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.HospitalDetailServiceGuideItemActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.EducationActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.EducationDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.EducationDetailServiceGuideActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.EducationDetailServiceGuideItemActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.EducationPaymentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.EducationPaymentCompleteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.SellActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.SellDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.SellPaymentActivityByNotPickUp"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.SellPaymentCompleteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.SellPickDateActivityByNotPickUp"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.SellPaymentActivityByPickUp"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.SellPickDateActivityByPickUp"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.AdoptActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity
            android:name=".activity.AdoptDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.AdoptPickDateActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.AdoptPaymentCompleteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity
            android:name=".activity.WalkActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activity.WalkDetailActivityByCash"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity android:name=".activity.WalkDetailServiceGuideItemActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".activity.WalkDetailServiceGuideActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".activity.WalkPickDateActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".activity.WalkPaymentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".activity.WalkPaymentCompleteActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".activity.WalkDetailActivityByNotCash"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".activity.SearchActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.AlarmActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".activity.WebtoonActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".activity.WebtoonSearchActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".activity.WebtoonMyPageActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".activity.WebtoonDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".activity.TutorialActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".activity.WebtoonListActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".lib.ViewPagerTabScrollViewWithFabActivity"
            android:theme="@style/AppTheme.Toolbar"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <activity android:name=".activity.NormalSplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>


    </application>
</manifest>